body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: rgb(209, 126, 1);
    text-align: center;
    font-size: 80px;
}

p {
    text-align: center;
    font-size: 20px;
    padding: 10px 200px;
    color: rgb(90, 55, 2);

}
